sales-map {
    #map {
        height: 100%;
    }
    .hideMap{
        display: none;
    }
    .firstHeading{
        font-weight:bold;
    }
    .item ion-thumbnail {
        min-width: 56px;    
        min-height: 56px;
        img {
            max-width: 56px;
            min-width: 56px;
            min-height: 56px;
            max-height: 56px;
        }
    }
    .makertListItem{
        padding-left: 0;
    }
    #noConnectionIcon{
        padding-left: 30%;
        padding-bottom: 0;
    }
    #noConnectionAlert{
        padding-top: 38%;
        text-align: center;
        padding-bottom: 0;
    }
}
ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}
.hideMap{
    display: none;
}
.showMap{
    display: block;
}